.slick-slide > div {
    display: flex;
    justify-content: center;
    margin: 0 15px; 
}

.relatedcameras-container {
    margin: auto;
    width: 100%;
    max-width: 700px;
    height: 100%;
    background-color: #f8f9fc;
    padding: 0.5em;
    position: relative;
}

.relatedcameras-card {
    background: white;
    border-radius: 12px;
    text-align: center;
    padding: 1.5em;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px; 
    width: 220px; 
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.relatedcameras-card:hover {
    border: 2px solid #003873;
}

.relatedcameras-img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.relatedcamerasmain-title{
    font-size: 2.2em;
    color: #003873;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 200;
}
.relatedcameras-title {
    font-size: 16px;
    color: #003873;
    margin: 12px 0;
    font-weight: 600;
}

.relatedcameras-btn {
    background: #003873;
    color: #fff;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
    font-size: 14px;
    margin-top: 8px; 
}

.relatedcameras-btn:hover {
    background: #002855;
}

.relatedcameras-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f8f9fc;
    color: white !important;
    border: none;
    font-size: 22px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s ease-in-out;
}

.relatedcameras-arrow:hover {
    background: white;
}

.relatedcameras-prev {
    left: -40px;
}

.relatedcameras-next {
    right: -40px;
}

/* @media (max-width: 1024px) {
    .slick-slide > div {
        margin: 0 10px; 
    }
} */

@media (max-width: 768px) {
    .slick-slide > div {
        margin: 0 8px;
    }

    .relatedcameras-container {
        width: 100%;
        max-width: 500px;
    }

    .relatedcameras-card {
        width: 200px;
        height: 260px;
    }

    .relatedcameras-img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    .slick-slide > div {
        margin: 0 6px;
    }

    .relatedcameras-card {
        width: 180px;
        height: 240px;
    }
    .relatedcameras-container {
        max-width: 250px;
    }
    .relatedcameras-img {
        width: 110px;
        height: 110px;
    }
}


@media (min-width: 770px) {
   
    .relatedcameras-container {
        max-width: 450px;
    }

}

@media (min-width: 1000px) {
   
    .relatedcameras-container {
        max-width: 700px;
    }

}