.GetInTouch-container {
  text-align: center;
  background-color: #f1f2f2;
  overflow-x: hidden;
}

.GetInTouch-title {
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.GetInTouch-form {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 1em;
}

.GetInTouch-row {
  display: flex;
  gap: 30px; 
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.GetInTouch-input {
  flex: 1;
  min-width: 350px; 
  width: calc(50% - 20px); 
  height: 70px; 
  font-size: 1em;
  padding: 14px; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.GetInTouch-submit {
  text-align: center; 
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.GetInTouch-submit-btn {
  padding: 2px;
  font-size: 1em;
  background-color: #344ea1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px auto;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .GetInTouch-row {
    flex-direction: column; 
    gap: 15px;
  }
  .GetInTouch-title {
    font-size: 1.5em;
  }
  .GetInTouch-input {
    width: 100% !important;
    margin-bottom: 10px;
    padding: 10px; 
  }

  .GetInTouch-submit-btn {
    width: 100%; 
  }
}

@media (max-width: 400px) {
  .GetInTouch-input {
    min-width:50% ;
    font-size: 16px; 
    height: 50px; 
    padding: 10px; 
  }

  .GetInTouch-submit {
    padding: 0em;
  }
  .GetInTouch-submit-btn {
    font-size: 1em;
    padding:1px; 
  }

  .GetInTouch-title {
    font-size: 1.8rem; 
  }

  .GetInTouch-form {
    padding: 0.5em; 
  }
}
