.Casestudy-title {
    text-align: center;
    font-size: 2.5rem;
    padding: 0.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
}


.Casestudy-container {
    padding: 20px;
    background-color: #f1f2f2;
}

.Casestudy-desktopView {
    display: block;
}

.Casestudy-mobileView {
    display: none;
}

.Casestudy-carouselSlide {
    background: #f1f2f2;
    padding: 20px;
}

.Casestudy-carouselCards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Casestudy-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    width: 600px;
    height: 400px;
}
.Casestudy-card:hover
 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transform: scale(1.03) rotate(0); 
    transition: all 0.3s ease-in-out; 
}

.Casestudy-cardImage {
    width: 50%;
    height: 100%;
    margin-right: 15px;
}
.Casestudy-cardImage img{
    width: 100%;
    height: 100%;
}
.Casestudy-cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
}

.slick-dots li button:before{
    font-family: none;
    font-size: 0px;
    color: white;
}  

.Casestudy-cardTitle {
    font-size: 1.5em;
    margin: 0;
    text-align: justify;
    color: #344ea1;
    padding-top: 10px;
    margin-bottom: 10px;
}

.Casestudy-cardDescription {
    font-size: 1.1em;
    margin: 0;
    text-align: justify;
    margin-bottom: 2px;
}

.Casestudy-Buttondiv {
    align-self: flex-end;
}
.Casestudy-ReadMoreButton{
    padding: 2px;
    border-radius: 7px;

}
.slick-dots li button:before{
    color: white !important;
}
/* Mobile specific styles */
@media (max-width: 768px) {
    .Casestudy-desktopView {
        display: none;
    }
    .Casestudy-mobileView {
        display: block;
    }

    .Casestudy-mobileCard {
        display: flex !important;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: white;
        padding: 15px;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px; 
    }

    .Casestudy-mobileCardImage {
        width: 100%; 
        max-width: 300px;
        height: auto; 
        object-fit: cover; 
        margin-bottom: 15px;
    }

    .Casestudy-mobileCardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center; 
    }

    .Casestudy-mobileCardTitle {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .Casestudy-mobileCardDescription {
        font-size: 1rem;
        margin-bottom: 15px; 
        text-align: justify; 
    }

    .Casestudy-mobileReadMoreButton {
       padding: 3px;
        border-radius: 4px;
        margin-top: auto; 
        text-align: center; 
    }

}


@media (max-width: 480px) {
    .Casestudy-title {
        font-size: 1.5rem;
    }
}


@media (min-width: 1500px) {
  
    .Casestudy-cardContent {
        padding: 40px;
    }

    }