.manufacturing-container {
  width: 100%;
  background-color: #f1f2f2;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.manufacturing-heading {
  font-size: 2em;
  font-weight: 200;
  padding: 1em;
  color: #344ea1;
}

.manufacturing-paragraph {
  font-size: 16px;
  color: #003873;
  max-width: 1100px;
  margin-bottom: 30px;
}

.manufacturing-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
  gap: 30px;
  align-items: flex-start;
}

.manufacturing-tabs {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin-top: 10px;
}

.manufacturing-tab-button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 12px 20px;
  text-align: left;
  color: #344ea1;
  width: 100%;
  border-left: 4px solid transparent;
  transition: all 0.3s ease-in-out;
}

.manufacturing-tab-button:hover {
  background-color: #f4f4f4;
}

.manufacturing-tab-button.active {
  border-left: 4px solid #344ea1;
  color: #003873;
  font-weight: bold;
  background-color: #e6ecf8;
}

.manufacturing-tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.manufacturing-card {
  width: calc(33.33% - 20px); 
  max-width: 300px;
  padding: 15px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}



.manufacturing-card-image {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
}

.manufacturing-card-title {
  margin-top: 10px;
  font-size: 16px;
  color: #003873;
}

@media (max-width: 1024px) {
  .manufacturing-card {
    width: calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .manufacturing-content {
    flex-direction: column;
    align-items: center;
  }
  .manufacturing-heading {
    font-size: 1.5em;
    padding: 0.5em;

  }
  .manufacturing-paragraph {
    font-size: 1em;
    text-align: justify;
    color: #003873;
    max-width: 1100px;
    margin-bottom: 30px;
  }
  .manufacturing-container {
    padding: 10px 30px;
  }
  .manufacturing-tabs {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .manufacturing-tab-button {
    text-align: center;
    border-left: none;
    padding: 5px 6px;
    font-weight: 400;
    font-size: small;
    border-bottom: 2px solid transparent;
  }

  .manufacturing-tab-button.active {
    border-left: none;
  }

  .manufacturing-tab-content {
    flex-direction: column;
    align-items: center;
  }

  .manufacturing-card {
    width: 100%; /* 1 card per row on mobile */
    max-width: 100%;
  }
}
