.manufacturing {
  background-color: #f1f2f2;
  padding: 2em;
  text-align: center;
  height: 550px;
  width: 100%;
}

.manufacturing h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1em;
}

.manufacturing p {
  font-size: 1em;
  color: #344ea1;
  margin-bottom: 20px;
  line-height: 1.8em;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.manufacturing .image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.2em;
  flex-wrap: nowrap; 
}

.manufacturing .image-box {
  position: relative;
  width: 250px;   
  height: 250px;
  background-color: #344ea1;
}

.manufacturing .image-box img {
  width: 100%;
  height: 100%;
  background-color: #344ea1;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manufacturing .image-box p {
  margin-top: 8px;
  font-size: 1em;
  font-weight: 500;
  color: #f1f2f2;
}
[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-aos="fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 768px) {
  .manufacturing .image-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 20px; 
  }
  .manufacturing {
    height: auto;
  }

  .manufacturing .image-box {
    width: 100%; 
    max-width: 400px; 
    height: auto;
    text-align: center;
  }

  .manufacturing .image-box img {
    width: 100%;
    height: auto;
  }

  .manufacturing .image-box p {
    margin-top: 15px; 
    font-size: 1rem;
    font-weight: 600;
  }
}

@media (max-width: 480px) {
  .manufacturing .image-box {
    max-width: 320px; 
  }

  .manufacturing .image-box p {
    font-size: 0.95rem;
    color: #f1f2f2;
  }
}
