/* Main Container */
.hubmanuf-total {
    padding: 2em;
    background-color: #f1f2f2; 
  }
  
  .hub-manufacturing-box {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2.5em;
    border: 2px solid #003873; 
    border-radius: 15px;
    background-color:white; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease; 
  }
  
  .hub-manufacturing-box:hover {
    transform: scale(1.02);
  }
  
  .hub-title {
    color: #344ea1; 
    font-size: 2.5em;
    padding: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .hub-image-content {
    margin-bottom: 2em;
  }
  
  .hub-image-content img {
    width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
  }
  
  
  .hub-text-content {
    text-align: justify;
    margin-top: 2em;
  }
  
  .hub-text-content p {
    font-size: 1.25em;
    line-height: 1.8;
    text-align: justify;
    color: #344ea1;
    margin-bottom: 1.8em;
    font-weight: 300;
  }
  
  .hub-text-content ul {
    list-style-type: disc;
    padding-left: 2em;
    line-height: 1.7;
  }
  
  .hub-text-content ul li {
    margin-bottom: 15px;
    font-size: 1.1em;
    font-weight: 400;
    color: #344ea1;
  }
  
  .hub-text-content ul li strong {
    color: #003873; 
    font-weight: 600;
  }
  .hub-text-content ul li {
    margin-bottom: 25px;
    font-size: 1.1em;
    font-weight: 400;
    color: #344ea1;
    position: relative;
    padding-bottom: 1.5em; 
  }
  
  .hub-text-content ul li strong {
    color: #003873;
    font-weight: 600;
  }
  
  .hub-text-content ul li img {
    display: block;
    margin: 10px auto; 
    max-width: 70%; 
    height: auto;
    border-radius: 8px; 
  }
  
  @media (max-width: 768px) {
    .hubmanuf-total {
        padding: 1em;
        background-color: #f9f9f9; 
      }
    .hub-manufacturing-box {
      padding: 1.5em;
    }
  
    .hub-title {
      font-size: 2em;
    }
  
    .hub-text-content p,
    .hub-text-content ul li {
      font-size: 1.1em;
    }
    .hub-text-content ul {
        list-style-type: disc;
        padding-left: 1em;
        line-height: 1.7;
      }
    .hub-image-content img {
      width: 100%;
    }
    .hub-text-content ul li img {
      max-width: 90%; 
    }
  }
  
  @media (max-width: 480px) {
    .hub-title {
      font-size: 1.5em;
    }
  
    .hub-text-content p,
    .hub-text-content ul li {
      font-size: 1rem;
    }
  
    .hub-manufacturing-box {
      padding: 1.2em;
    }
    .hub-text-content ul li img {
      max-width: 100%; 
    }
  }
  